.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img
{
    width: 15rem;
    height: 20rem;
    border-radius: 0.3rem;
}

img:hover
{
    transform: scale(1.02);
}

.title
{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color : whitesmoke;
}